/* Images */
img {
    max-width: 100%;
    height: auto;
}

.img-block-100 {
    display: block;
    width: 100%;
}

.img-center {
    display: block;
    margin: auto;
}

.d-block {
    display: block;
}